html {
    height: 100%;
    overflow: auto;
}
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.my-node-enter {
    opacity: 0;
}
.my-node-enter-active {
    opacity: 1;
    transition: opacity 2200ms;
}
.my-node-exit {
    opacity: 1;
}
.my-node-exit-active {
    opacity: 0;
    transition: opacity 2200ms;
}

.wrapper {
    background: white;
    border: 1px #333;
    height: 60px;
    font-size: 30px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 30px;
    margin: 10px 30px;
}

.wrapper:focus {
    outline: none;
}

@keyframes slideOut-rtl {
    0% {
        transform: translateX(0);
    }
    100% {
        opacity: 1;
        transform: translateX(-100%);
    }
}

@keyframes slideIn-rtl {
    0% {
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideOut-ltr {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes slideIn-ltr {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.slide-rtl-exit-active {
    animation: slideOut-rtl 2500ms both ease;
}

.slide-rtl-enter-active {
    animation: slideIn-rtl 2500ms both ease;
}

.slide-ltr-exit-active {
    animation: slideOut-ltr 2500ms both ease;
}

.slide-ltr-enter-active {
    animation: slideIn-ltr 2500ms both ease;
}

.c-input {
    padding: 1.17rem 1.6rem;
    background-color: #fff;
    border: 2px solid #d6d6d6;
    border-radius: 8px;
    width: 100%;
}

.list-group {
    background-color: #fff;
    list-style-type: none;
    padding: 0;
    border-radius: 8px;
}

.list-group-item {
    padding: 1.6rem;
    border-bottom: 1px solid #e4e4e4;
    cursor: pointer;
}

.list-group-item:last-of-type {
    border-bottom: none;
}

.list-group-item.highlighted {
    background-color: #333;
}

* {
    box-sizing: border-box;
}
